.home-page .form label{
  display: block;
}
.navbar{
  background-image: linear-gradient(#00CCFF, #026882);
  font-family: 'Mulish', sans-serif;
}

.navbar-brand{
  font-size: 1.7rem !important;
  color: #f8f8f8 !important;
}

.navbar a{
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #f8f8f8 !important;
}
.active{
    font-weight: bold;
    border-bottom: 2px solid #011929;
}
.navbar a:hover{
  color: #011929 !important;
}

@media(max-width:991px){
  .navbar-brand{
    font-size: 1.5em !important;
  }
  .navbar a{
    font-size: 1rem;
  }
  .active{
    font-weight: bold;
    border: none;
  }
}